:root {
    --primary-color: #134074;
    --secondary-color: #13315C;
    --dark-blue-color: #0B2545;
    --lighter-blue-color: #8DA9C4;
    --white-color: #fdffff;
    --text-color-white: #ffffff;
    --text-color-dark: #333333;
}

