:root {
    --primary-color: #2F6690;
    --secondary-color: #3A7CA5;
    --dark-blue-color: #0B2545;
    --another-blue-color: #16425B;
    --lighter-blue-color: #8DA9C4;
    --white-color: #fdffff;
    --text-color-white: #ffffff;
    --text-color-dark: #333333;
    --button-background-color: #014f86;

}

