@import url("colors.css");
@import url("fonts.css");
@import url("hover.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color-white);

  .logo {
    height: 55px;
    width: 110px;
  }

  .title {
    font-family: var(--dosis-regular);
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 5px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

header {
  width: 100%;
  padding:50px;
  background-color: var(--secondary-color);
  color: var(--text-color-white);
  text-align: center;

  .header-title {
    font-family: var(--pt-sans-regular) !important;
    font-size: 30px;
  }
}

main {
    width: 100%;
    padding: 50px;
    background-color: var(--secondary-color);

    .instructions {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
    }
}

.gameContainer {
  width: 100%;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  margin-top: 20px;
  
  transition: all 0.3s ease;

  .startButton {
    padding: 20px 60px;
    background-color: var(--button-background-color);
    color: var(--text-color-white);
    font-size: 18px;
    font-family: var(--dosis-bold);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    transition: background-color 0.3s, transform 0.3s;
  }

  .startButton:hover {
      background-color: var(--primary-color);
      transform: scale(1.05);
      transition: all 0.3s ease;
  }
}

footer {
  width: 100%;
  background-color: var(--secondary-color);
  padding: 20px;
  color: var(--text-color-white);
  font-style: italic;
  text-align: center;
}
